<div class="job">
    <img class="logo sunshine" src="/img/sun.gif" />
    <div class="job-headline">
        <h3 class="job-employer">Something New</h3>
        <div class="job-dates" title="1yr, 11mo">Now&thinsp;&#8674;&thinsp;Future</div>
    </div>
    <div class="job-description">
        <p>This can work very well for small to medium-sized projects, where JavaScript is only used to enhance certain views. In more complex projects however, or when your frontend is entirely driven by JavaScript, these disadvantages become apparent:</p>
    </div>
    <div class="job-stack">
        <ul class="tags">
            <li class="label">Twig</li>
            <li class="label">LESS</li>
            <li class="label">jQuery</li>
        </ul>
    </div>
    <div class="accomplishments">
        <h3>Highlights</h3>
        <ul>
            <li>
                dafsd
            </li>
        </ul>
    </div>
</div>

<div class="job">
    <img class="logo plickety" src="/img/plickety-outline.png" />
    <div class="job-headline">
        <h3 class="job-employer">Plickety Switch</h3>
        <div class="job-dates" title="1yr, 11mo">May &lsquo;16&thinsp;&#8674;&thinsp;Now</div>
    </div>
    <div class="job-description">
        <p>This can work very well for small to medium-sized projects, where JavaScript is only used to enhance certain views. In more complex projects however, or when your frontend is entirely driven by JavaScript, these disadvantages become apparent:</p>
    </div>
    <div class="job-stack">
        <ul class="tags">
            <li class="label">Twig</li>
            <li class="label">LESS</li>
            <li class="label">jQuery</li>
        </ul>
    </div>
    <div class="accomplishments">
        <h3>Highlights</h3>
        <ul>
            <li>
                dafsd
            </li>
        </ul>
    </div>
</div>

<div class="job">
    <img class="logo yarn" src="/img/yarn.png" />
    <div class="job-headline">
        <h3 class="job-employer">Yarn @ Samsung Accelerator</h3>
        <div class="job-dates" title="1yr, 1mo">Mar &lsquo;15&thinsp;&#8674;&thinsp;Apr &lsquo;16</div>
    </div>
    <div class="job-description">
        <p>This can work very well for small to <span class="highlighted">medium-sized projects</span>, where JavaScript is only used to enhance certain views. In more complex projects however, or when your frontend is entirely driven by JavaScript, these disadvantages become apparent:</p>
    </div>
    <div class="job-stack">
        <ul class="tags">
            <li class="label">Twig</li>
            <li class="label">LESS</li>
            <li class="label">jQuery</li>
        </ul>
    </div>
    <div class="accomplishments">
        <h3>Highlights</h3>
        <ul>
            <li>
                dafsd
            </li>
        </ul>
    </div>
</div>

<div class="job">
    <div class="job-headline">
        <h3 class="job-employer">Knewton</h3>
        <div class="job-dates" title="1yr, 5mo">Oct &lsquo;13&thinsp;&#8674;&thinsp;Mar &lsquo;15</div>
    </div>
    <div class="job-description">
        <p>As a <em>senior software engineer</em> on Knewton's first consumer-facing product, I led
            front end engineering.
    </div>
    <div class="job-stack">
        <ul class="tags">
            <li class="label">Twig</li>
            <li class="label">LESS</li>
            <li class="label">jQuery</li>
        </ul>
    </div>
    <div class="accomplishments">
        <h3>Highlights</h3>
        <ul>
            <li>
                dafsd
            </li>
        </ul>
    </div>
</div>

<div class="job">
    <div class="job-headline">
        <h3 class="job-employer">OpenSky</h3>
        <div class="job-dates" title="3yr, 5mo">Mar &lsquo;10&thinsp;&#8674;&thinsp;Aug &lsquo;13</div>
    </div>
    <div class="job-description">
        <p>This can work very well for small to medium-sized projects, where JavaScript is only used to enhance certain views. In more complex projects however, or when your frontend is entirely driven by JavaScript, these disadvantages become apparent:</p>
    </div>
    <div class="job-stack">
        <ul class="tags">
            <li class="label">Twig</li>
            <li class="label">LESS</li>
            <li class="label">jQuery</li>
            <li class="label">Grunt</li>
            <li class="label">PHP</li>
            <li class="label">Symfony</li>
        </ul>
    </div>
    <div class="accomplishments">
        <h3>Highlights</h3>
        <ul>
            <li>
                I noticed a specific need for ad hoc collections of products with custom headers,
                footers, and page styling, and correctly guessed that this would later become a more
                general need. Instead of building the feature as a one-off, I assembled a lightweight
                spec for flexible tools, modified existing backend code
                to fit what I needed, and built the entire front end. These tools became an
                essential part of OpenSky's evolution over the following 18 months.
            </li>
            <li>
                I held the undisputed record for fastest lap around the office.
            </li>
            <li>
                I organized the first annual company-wide innovation challenge: <acronym>OSSUM SAUCE</acronym>
                (<i>OpenSky Struggle for Superior Understanding of Metrics & Superhuman Application of
                this Understanding to Current Exigencies</i>).
                This was an all-day, company-wide, team-based contest with cash prizes awarded for
                the ideas deemed most
                likely to deliver results with minimum engineering effort.
            </li>
        </ul>
    </div>
</div>

<div class="job">
    <div class="job-headline">
        <h3 class="job-employer">Flavors.Me</h3>
        <div class="job-dates" title="5mo">Oct &lsquo;09&thinsp;&#8674;&thinsp;Mar &lsquo;10</div>
    </div>
    <div class="job-description">
        <p>This can work very well for small to medium-sized projects, where JavaScript is only used to enhance certain views. In more complex projects however, or when your frontend is entirely driven by JavaScript, these disadvantages become apparent:</p>
    </div>
    <div class="job-stack">
        <ul class="tags">
            <li class="label">jQuery</li>
            <li class="label">Jinja</li>
            <li class="label">CSS</li>
            <li class="label">Python</li>
            <li class="label">Django</li>
            <li class="label">Mistake</li>
        </ul>
    </div>
</div>

<div class="job">
    <div class="job-headline">
        <h3 class="job-employer">Meetup</h3>
        <div class="job-dates" title="5yr, 10mo">Aug &lsquo;03&thinsp;&#8674;&thinsp;Jun &lsquo;09</div>
    </div>
    <div class="job-description">
        <p>This can work very well for small to medium-sized projects, where JavaScript is only used to enhance certain views. In more complex projects however, or when your frontend is entirely driven by JavaScript, these disadvantages become apparent:</p>
    </div>
    <div class="job-stack">
        <ul class="tags">
            <li class="label">Team Lead</li>
            <li class="label">JSTL</li>
            <li class="label">CSS</li>
            <li class="label">JavaScript</li>
            <li class="label">MochiKit</li>
            <li class="label">Java</li>
        </ul>
    </div>
    <div class="accomplishments">
        <h3>Highlights</h3>
        <ul>
            <li>
                In January 2005, one year before
                the initial release of jQuery, I wrote a library for attaching JavaScript functionality
                to a page based on matching CSS selectors. I didn't invent the idea, but I embraced it long
                before it became common practice. Over the next five years, my Meetup.DomDeco library was
                used extensively across Meetup.com.
            </li>
            <li>
                I defined clear, lightweight page layout semantics that were then mirrored in
                our own homegrown JSTL taglibs. Our templates were easy to understand and maintain. We
                also added HTML validation to these taglibs so we could more easily spot hard-to-debug problems like
                unbalanced tags.
            </li>
        </ul>
    </div>
</div>

<div class="job">
    <div class="job-headline">
        <h3 class="job-employer">NYU</h3>
        <div class="job-dates" title="1yr, 1mo">Jul &lsquo;02&thinsp;&#8674;&thinsp;Aug &lsquo;03</div>
    </div>
    <div class="job-description">
        <p>This can work very well for small to medium-sized projects, where JavaScript is only used to enhance certain views. In more complex projects however, or when your frontend is entirely driven by JavaScript, these disadvantages become apparent:</p>
    </div>
    <div class="job-stack">
        <ul class="tags">
            <li class="label">tears</li>
            <li class="label">frustration</li>
            <li class="label">poverty</li>
        </ul>
    </div>
    <div class="accomplishments">
        <h3>Highlights</h3>
        <ul>
            <li>
                dafsd
            </li>
        </ul>
    </div>
</div>

<div class="job">
    <div class="job-headline">
        <h3 class="job-employer">Schwa Digital Design</h3>
        <div class="job-dates" title="5yr, 1mo">Aug &lsquo;96&thinsp;&#8674;&thinsp;Sep &lsquo;01</div>
    </div>
    <div class="job-description">
        <p>This can work very well for small to medium-sized projects, where JavaScript is only used to enhance certain views. In more complex projects however, or when your frontend is entirely driven by JavaScript, these disadvantages become apparent:</p>
    </div>
    <div class="job-stack">
        <ul class="tags">
            <li class="label">CSS</li>
            <li class="label">JavaScript</li>
            <li class="label">XML</li>
            <li class="label">XSLT</li>
            <li class="label">DHTML</li>
            <li class="label">XHR</li>
            <li class="label">ASP</li>
            <li class="label">IIS</li>
            <li class="label">MS-SQL</li>
        </ul>
    </div>
    <div class="accomplishments">
        <h3>Highlights</h3>
        <ul>
            <li>
                As a team, we conceived and built a
                custom <abbr>CMS</abbr> that allowed the customer, a magazine publisher, to
                enter and preview entire issues prior to publishing to the web.
                When publishing an issue, our tool generated article pages, tables of contents,
                site navigation, and links between articles. We did this in 96, before
                this kind of thing became commonplace.
           </li>
            <li>
                I built multiple iterations of an agency-wide directory of
                all facilities and personnel for The Department of Veterans Affairs.
                This included on-site installation and a custom <abbr>CMS</abbr> for maintenance.
            </li>
            <li>
                My final project in this era was the most satisfying. I conceived and built
                an AJAX-based portfolio management tool (four years before the term "AJAX" was coined)
                for a photo studio.
                This management tool allowed
                the customer to create and manage custom portfolios
                for current and prospective clients, password protecting portfolios where desired. Portfolio
                data was loaded into the page via XHR, modified in-page, and saved back to the server using
                XHR. Photos could be reordered using drag and drop.
            </li>
        </ul>
    </div>
</div>
