@import "typography";

html {
    font-size: 18px;

    @media (min-width : 321px) {
        font-size: 18px;
    }
    @media (min-width: 650px) {
        font-size: 18px;
    }
    @media (min-width: 768px) {
        font-size: 18px;
    }
    @media (min-width: 825px) {
        font-size: 18px;
    }
    @media (min-width: 992px) {
        font-size: 18px;
    }
    @media print {
        font-size: 16px;
    }
}

body {
    padding: 0;
    margin: 0;
    font-family: 'charter-regular';
    background: white url(/img/p5.png) top left;

    font-size: 1rem;
    line-height: 1.5;
    color: #000;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url(/img/p5_@2X.png);
        background-size: 8px 8px;
    }

    @media print { }
}

/* ELEMENT RESETS */
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0 0 1rem 0;
    line-height: 1.4;
}

/* PAGE LAYOUT */
main.container,
footer,
header.page section {
    width: 50rem;
    max-width: 90%;
    margin: 0 auto;
    @media print {
        width: 100%;
        max-width: none;
    }
}

main.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 25rem;

    article.resume {
        order: 2;
        flex: 2;
    }
    article.story {
        padding-right: 1.5rem;
        flex: 4;
    }
}




header.page {
    margin: 1rem auto;

    section {
        padding: .5rem 0 0;
        position: relative;
    }
    .nav {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        left: -3rem;
        top: 1rem;
        background: white;
        border: 1px solid #ddd;
        border-radius: 3px;
        box-shadow: 1px 1px 4px rgba(0,0,0,.1);
        &:hover {
            background: black;
        }
        a.to-home {
            display: inline-block;
            text-decoration: none;
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            font-size: 16px;
            &:hover {
                color: white;
            }
        }
    }
    h1 {
        font-family: 'charter-regular';
        font-size: 1.75rem;
        line-height: 2.6rem;
        margin: 0 auto;
        padding: 0;
        text-shadow: 0 0 0 #000, 0 0 1px transparent;
    }

    p{
        margin: 0;
        padding: 0;
    }


    img {
        width: 75px;
        display: none;
        margin: 0 auto;
        border-radius: 50%;
    }

    @media (min-width: 650px) {
        text-align: left;
        position: relative;
        img {
            position: absolute;
            top: .5rem;
            left: -5.5rem;
        }
    }

    @media (min-width: 992px) { }

}

main.container {
    margin: 0 auto 2rem;

    @media (min-width: 500px) {
    }

    @media (min-width: 650px) {
    }

    @media print {
    }
}

article.story {

    font-family: 'charter-regular';
    font-weight: normal;
    h2, h3 {
        font-family: 'charter-bold';
        font-weight: bold;
        margin-bottom: .5rem;
    }
    h2 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
    h3 {
        font-size: 1rem;
    }


    @media (min-width : 500px) {
        //margin-left: 70px;
    }

    @media (min-width: 650px) {
    }

    //@media (min-width: 992px) { }

    @media print {
    }

    .era {
        margin-bottom: 1rem;
        border: 0 none;

        @media (min-width : 500px) {
        }

        @media print {
        }
    }

    h3 {
        margin: 0;
        padding: 0;
        margin-top: 1rem;
    }
    p {
        margin-bottom: .5rem;
    }

    @media (min-width: 650px) {
        p {
            margin: 0;
            text-indent: 1.25rem;
        }
        p:first-child,
        h3 + p {
            text-indent: 0;
        }
    }
    @media print {
        p {
            margin: 0;
            text-indent: 1.25rem;
        }
        p:first-child,
        h3 + p {
            text-indent: 0;
        }
    }

}

article.resume {
    font-family: 'museo-sans', sans-serif;
    font-size: 12px;
    border-radius: 2px;
    padding: 0 .75rem .75rem 1.5rem;
    color: #5E412F;
    h2 {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: .5rem;
    }
    .job {
        margin-bottom: 1.5rem;
        position: relative;
        padding: .25rem .25rem .25rem .5rem;
        background-color: white;
        border-left: 2px solid #ddd;
        &:after {
            font-size: 16px;
            display: block;
            position: absolute;
            top: -1.25rem;
            left: 0;
            width: 100%;
            text-align: center;
        }
        &:nth-child(even) {
            left: .75rem;
        }
        &:nth-child(even):after {
            left: -.75rem;
            content: "\2191";
        }
        &:nth-child(odd) {
            left: -.75rem;
        }
        &:nth-child(odd):after {
            left: .75rem;
            content: "\2191";
        }
        &:first-child {
            background-size: 30%;
            &:after {
                content: "";
            }
        }
        .logo {
            float: right;
            margin: 0 0 .25rem .25rem;
            width: 20%;
            &.sunshine {
                width: 25%;
            }
            &.plickety {
                margin-top: .5rem;
                margin-right: .5rem;
                display: none;
            }
            &.yarn {
                margin-top: .25rem;
                margin-right: .25rem;
                border: 1px solid #eee;
                filter: grayscale(100%);
                display: none;
            }
        }
        .job-headline {
            margin-bottom: .25rem;
            h3.job-employer {
                font-size: 12px;
                display: inline;
                margin-right: .5rem;
            }
            .job-dates {
                display: inline;
                // float: right;
                color: #999;
                white-space: nowrap;
            }
        }
        .job-description {
            p {
                margin: 0;
                hy­phens: auto;
            }
            em {
                font-style: normal;
                background-color: #ffc;
            }
        }
    }
    .job-stack {
        display: none;
    }
    ul.tags {
        padding: 0;
        margin: 0 0 .5rem;
        font-size: .6rem;
        line-height: 1.35rem;
        float: right;

        li.label {
            font-size: 10px;
            letter-spacing: .075rem;
            display: inline;
            padding: .2rem .3rem ;
            color: white;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            background-color: #666;
            text-transform: uppercase;
            border-radius: 2px;
            @media print {
            }
        }
    }
    .accomplishments {
        display: none;
        padding: 0;
        margin: 0;
        margin-top: .5rem;
        color: #333;
        h4 {
            font-size: .8rem;
            line-height: .8rem;
            line-height: 1.3rem;
            margin: 0;
            padding: 0;
        }
        ul {
            margin: 0;
            padding: 0;
            font-size: .8rem;
            line-height: 1rem;

            @media (min-width: 650px) {
                // column-count: 2;
                // column-gap: 2rem;
                // column-rule: 1px dotted #aaa;
            }
            @media print {
                // column-count: 2 !important;
                // column-gap: 2rem !important;
                // column-rule: 1px dotted #aaa !important;
            }

            li {
                padding: 0;
                margin: 0;
                p.description {
                    font-size: .8rem;
                    line-height: 1rem;
                    i {
                        font-style: normal;
                    }
                }
            }
        }
    }
}
footer {
    font-size: 10px;
}
