$color-osky : #20c4f4;
$color-flavors : #593001;
$color-meetup : #e51937;
$color-dark-ages : #333333;
$color-schwa : #FFCC33;
$color-pre-history : #aaf200;

$page-background: #f78a43;
$page-background: #f7ba43;
$page-background: #FCEBB6;
